{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
{% endblock %}

{% block head_title %}Food Recommendation Project{% endblock %}

{% block body_class %}home{% endblock %}



{% block body_base %}
    <section class="jumbotron" style="">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>to Food Recommendation Project{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                This project gives recommendation based on your likings.
                {% endblocktrans %}
            </p>
        </div>
    </section>
   
    <section>
        <div class="container">
            <p class="lead text-center">
                
            </p>
        </div>
    </section>
{% endblock %}
