    {% extends "site_base.html" %}

    {% load i18n %}

    {% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    {% endblock %}

        

                {% block head_title %}Food Recommendation Project{% endblock %}

                {% block body_class %}home{% endblock %}
           

        
    <div class="container">

                {% block body_base %}
                <div class="row">
            <div class="col-md-12">
                
                <section >
                    {% include "_navbar.html" %}    
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <section class="jumbotron" >
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>to Food Recommendation Project{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                This project gives recommendation based on your likings.
                {% endblocktrans %}
            </p>
        </div>
    </section>
    </div>
    </div>
    
    <div class="row">
            
            <div class="col-md-12">
   <section>
   
   <h3>Food items you may like:</h3><br>
   <section id = "output" > 

   {{error}}
  {% for i in form %}
    {{ i }}<br>
  {% endfor %}
  </section>
  </section>
  </div>
  </div>
  <div class="row">
            
            <div class="col-md-12">
  <section id = "output_rest" > 

  <h3>Restaurants in your area:</h3><br>
  {% for j in restaurants %}
    {{ j }}<br>
  {% endfor %}

    
</section>
</div>
</div>


   
   
   </section>
   </div>
   
   </div>
   





{% endblock %}
